.about__title {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;
    }
    
    @media screen and (min-width: 1280px) {
        margin-bottom: 60px;
    }
}

.about__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.about__item {
    display: flex;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 16px) / 2);
        margin-right: 16px;
        margin-bottom: 32px;
    }

    @media screen and (min-width: 1280px) {
        width: calc((100% - 32px) / 3);
    }

    &:nth-child(2n) {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-right: 0;
        }
    }

    &:nth-child(3n) {
        @media screen and (min-width: 1280px) {
            margin-right: 0;
        }
    }

    &:nth-last-child(-n + 2) {
        @media screen and (min-width: 768px) and (max-width: 1279px) {
            margin-bottom: 0;
        }
    }

    &:nth-last-child(-n + 3) {
        @media screen and (min-width: 1280px) {
            margin-bottom: 0;
        }
    }
}

.about__icon {
    width: 44px;
    height: 44px;
    padding: 10;
    border-radius: 4px;
    border: 1px solid #E9E9E9;
    margin-right: 12px;

    @media screen and (min-width: 768px) {
        width: 60px;
        height: 60px;
        padding: 18;
        border-radius: 8px;
        margin-right: 16px;
    }
}

.about__item-title {
    color: $title-text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: -0.6px;  
    }
}

.about__text {
    @media screen and (min-width: 1280px) {
        font-size: 16px;
        line-height: 1.25;
    }
}