.header__bottom--mobile {
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header__bottom {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.site-nav {
    @media screen and (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }   
}

.site-nav__left {
    @media screen and (max-width: 1279px) {
        margin-bottom: 8px;;
    }
}

.site-nav__list {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 8px;
}

.site-nav__button {
    background: $secondary-bc-color;
 
    &:hover, 
    &:focus {
        color: $primary-white-color;
        background: $accent-color;
    }
}

.site-nav__link {
    color: $accent-color;

    &:hover,
    &:focus {
        color: $primary-white-color;
    }
}

.site-nav__button--black {
    color: $primary-white-color;
    background-color: $accent-color;

    &:hover,
    &:focus {
        background-color: $secondary-bc-color;
        color: $accent-color;
    }
}

.site-nav--mobile {
    display: flex;
    justify-content: space-between;
}

.site-nav__left--mobile {
    display: flex;
    align-items: center;
}

.mobile-button {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: $secondary-bc-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.site-nav__left--mobile--button:not(:last-child) {
    margin-right: 8px;   
}



.hidden {
    visibility: hidden;
}

.input-search {
    transition: all 1s;
    width: 200px;         
    height: 35px;
    padding: 5 7 5 7;
    border-color: $bc-color;
    border-radius: 8px;

    @media screen and (max-width: 767px) {
        margin-right: 8px;
    }
}

.input {
    width: 0;
    height: 35px;
    border-color: $bc-color;
    border-radius: 8px;
    opacity:0;
    transition: all 1s;
}