h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.page-body {
  background-color: #FFFFFF;
  color: #757575;
  font-family: 'Golos Text', sans-serif;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .page-body {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .page-body {
    font-size: 20px;
    line-height: 1.2;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 118px;
  height: 44px;
  padding: 14px 20px;
  gap: 10px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #161616;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: color 300ms linear, background-color 300ms linear;
}

@media screen and (min-width: 768px) {
  .button {
    padding: 12px 20px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 72px;
    padding-right: 72px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 1280px;
  }
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #161616;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 40px;
    line-height: 1.2;
  }
}

.header {
  background: #f4f5f8;
  background: linear-gradient(180deg, #f4f5f8 0%, #e0e2e9 30%, white 100%);
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header__top {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__top {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__bottom--mobile {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  display: inline-flex;
  align-items: center;
  color: #161616;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.logo__icon {
  margin-right: 8px;
}

.logo__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.header__mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #FFFFFF;
  padding: 24 16 24 16;
}

.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.site-nav-mobile__item {
  border-bottom: 1px solid #E9E9E9;
}

.site-nav-mobile__link {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #161616;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.mobile-menu-button {
  width: 100%;
  background-color: #202226;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .header__bottom--mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header__bottom {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .site-nav {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1279px) {
  .site-nav__left {
    margin-bottom: 8px;
  }
}

.site-nav__list {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 8px;
}

.site-nav__button {
  background: #f4f5f8;
}

.site-nav__button:hover, .site-nav__button:focus {
  color: #FFFFFF;
  background: #202226;
}

.site-nav__link {
  color: #202226;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #FFFFFF;
}

.site-nav__button--black {
  color: #FFFFFF;
  background-color: #202226;
}

.site-nav__button--black:hover, .site-nav__button--black:focus {
  background-color: #f4f5f8;
  color: #202226;
}

.site-nav--mobile {
  display: flex;
  justify-content: space-between;
}

.site-nav__left--mobile {
  display: flex;
}

.mobile-button {
  width: 44px;
  height: 44px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: #f4f5f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.site-nav__left--mobile--button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .header-info {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-info {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1280px) {
  .header-info {
    margin-left: 80px;
  }
}

.header-info__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1280px) {
  .header-info__list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header-info__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .header-info__item:not(:last-child) {
    margin-right: 32px;
  }
}

@media screen and (max-width: 767px) {
  .site-auth {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .site-auth {
    margin-left: 94px;
  }
}

@media screen and (min-width: 1280px) {
  .site-auth {
    margin-left: 421px;
  }
}

.site-auth__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

@media screen and (min-width: 1280px) {
  .site-auth__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-auth__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .site-auth__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .site-auth__item:not(:last-child) {
    margin-right: 32px;
  }
}

.site-auth__link,
.header-info__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1280px) {
  .site-auth__link,
  .header-info__link {
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

.site-auth__link:hover,
.header-info__link:hover {
  color: #202226;
}

.site-auth__link:focus,
.header-info__link:focus {
  color: #202226;
}

.hero {
  height: 554px;
  width: 100%;
  background-color: #202226;
  border-radius: 12px;
  padding: 12;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 600px;
    padding: 16 16 28 16;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    height: 560px;
    padding: 16 16 40 40;
  }
}

.hero__section {
  padding-top: 20px;
}

.hero__pre-title {
  font-weight: 600;
  font-size: 9px;
  line-height: 1.36;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
  margin-top: 150px;
}

.hero__pre-title::before {
  content: '';
  height: 1px;
  width: 63px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 21px;
}

.hero__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.18;
  margin-bottom: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 72px;
    letter-spacing: 0.05em;
  }
}

.hero__after-title {
  font-size: 14px;
  line-height: 1.67;
  color: #9da4bd99;
}

.services__text {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.services__item {
  padding: 12;
  background-color: #f4f5f8;
  border-radius: 16px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .services__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .services__item {
    width: calc((100% - 16px) / 2);
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 24;
  }
}

@media screen and (min-width: 1280px) {
  .services__item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .services__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .services__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .services__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .services__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.services__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.services__title {
  color: #161616;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 400;
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .services__title {
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.24px;
    margin-bottom: 16px;
  }
}

.services__img {
  width: 380px;
  border-radius: 12px;
}

@media screen and (min-width: 768px) {
  .services__img {
    width: 256px;
  }
}

@media screen and (min-width: 1280px) {
  .services__img {
    width: 341px;
  }
}

.about__title {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.about__item {
  display: flex;
}

@media screen and (max-width: 767px) {
  .about__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about__item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .about__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.about__icon {
  width: 44px;
  height: 44px;
  padding: 10;
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .about__icon {
    width: 60px;
    height: 60px;
    padding: 18;
    border-radius: 8px;
    margin-right: 16px;
  }
}

.about__item-title {
  color: #161616;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .about__item-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 16px;
    line-height: 1.25;
  }
}

.why__section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1280px) {
  .why__container {
    display: flex;
  }
}

.why__top {
  padding: 12;
  background-color: #f4f5f8;
  border-radius: 12px;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .why__top {
    padding: 40;
    border-radius: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .why__top {
    margin-bottom: 0;
    margin-right: 16px;
    width: 592px;
  }
}

.why__title {
  margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .why__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .why__title {
    margin-bottom: 102px;
  }
}

.why__text:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  .why__text {
    font-size: 16px;
  }
}

.why__list {
  display: flex;
  flex-wrap: wrap;
}

.why__item {
  padding: 10px;
  width: calc((100% - 18px) / 3);
  margin-right: 9px;
  margin-bottom: 8px;
  height: 82px;
  border-radius: 12px;
  background-color: #f4f5f8;
}

@media screen and (min-width: 768px) {
  .why__item {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    margin-bottom: 16px;
    height: 187px;
    border-radius: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .why__item {
    width: calc((100% - 32px) / 3);
  }
}

@media screen and (max-width: 767px) {
  .why__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .why__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .why__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.why__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.products-about__section {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .products-about__section {
    border-top: 1px solid #E9E9E9;
  }
}

.products {
  display: flex;
  justify-content: center;
}

.products__title {
  font-size: 24px;
  line-height: 1.16;
  color: #161616;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .products__title {
    font-size: 40px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 40px;
  }
}

.products__left {
  margin-right: 40px;
}

@media screen and (max-width: 1279px) {
  .products__left {
    display: none;
  }
}

.filters {
  margin-bottom: 40px;
}

.filters__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .filters {
    margin-bottom: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__button {
  width: 276px;
  height: 44px;
  color: #161616;
  background-color: #F4F5F8;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: left;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__button:focus {
  color: #FFFFFF;
  background-color: #202226;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button:hover {
  color: #FFFFFF;
  background-color: #202226;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery__img {
  position: relative;
  overflow: hidden;
}

.gallery__description {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .gallery__description {
    margin-top: 20px;
  }
}

.gallery__title {
  margin-bottom: 4px;
  color: #161616;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery__text {
  font-size: 16px;
  line-height: 1.87;
}

.gallery__item {
  background: #F4F5F8;
  border-radius: 16px;
  padding: 12;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .gallery__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__item {
    width: calc((100% - 16px) / 2);
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 8 8 20 8;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item {
    width: calc((100% - 30px) / 3);
    margin-right: 15px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .gallery__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.gallery__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.products__img {
  border-radius: 16px;
  width: 300px;
}

.gallery__price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #161616;
}

.gallery__button {
  margin-top: 20px;
  width: 249px;
  color: #FFFFFF;
  background-color: #202226;
  padding: 12px 20px;
  gap: 10px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.gallery__button:hover {
  color: #202226;
  background-color: #FFFFFF;
  border: 2px solid #161616;
}

.footer {
  padding-top: 16px;
  padding-bottom: 17px;
  background-color: #f4f5f8;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__contacts:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (max-width: 1279px) {
  .footer__contacts:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__contacts:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  color: #161616;
  font-style: normal;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 24px;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: 0.24px;
  }
}

@media screen and (min-width: 1280px) {
  .footer__link {
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1280px) {
  .footer__link:focus {
    color: #757575;
  }
}

@media screen and (min-width: 1280px) {
  .footer__link:hover {
    color: #757575;
  }
}

.footer__join {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

@media screen and (max-width: 767px) {
  .footer__join {
    margin-top: 34px;
  }
}

.footer__join-title {
  margin-left: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .footer__join-title {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media screen and (max-width: 1199px) {
  .subscription--left {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription--left {
    margin-left: 93px;
    margin-top: 12px;
  }
}

.subscription--left input[type='email'] {
  background-color: transparent;
}

.subscription__mail {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .subscription__mail {
    width: 358px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription--right {
    margin-left: 12px;
    margin-top: 49px;
  }
}

.subscription__button {
  margin-left: auto;
  margin-right: auto;
}

.footer__top {
  margin-top: 52px;
}

@media screen and (min-width: 768px) {
  .footer__top {
    margin-top: 40px;
  }
}

.footer__info {
  margin-top: 52px;
}

.footer__list {
  margin-top: 24px;
}

.footer__item {
  color: #161616;
}

.footer__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .footer__item:not(:last-child) {
    margin-bottom: 12px;
  }
}

.footer__info-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #161616;
}

@media screen and (min-width: 768px) {
  .footer__info-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.6px;
  }
}

.footer__content {
  border-top: 1px solid #E9E9E9;
  border-bottom: 1px solid #E9E9E9;
  padding-bottom: 52px;
}

@media screen and (min-width: 1280px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
}

.footer__rights {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .footer__rights {
    margin-top: 24px;
  }
}

.footer__item-link {
  color: #202226;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item-link:hover {
  color: #757575;
}

.footer__item-link:focus {
  color: #757575;
}

.social {
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link--bcg {
  background-color: transparent;
}

@media screen and (min-width: 1280px) {
  .social__link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1280px) {
  .social__link:hover, .social__link:focus {
    background-color: #202226;
  }
}

.social__icon {
  fill: #000;
}

@media screen and (min-width: 1200px) {
  .social__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .social__link:hover .social__icon,
  .social__link:focus .social__icon {
    fill: #FFFFFF;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  overflow-y: scroll;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  width: 100%;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal__button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
}

.modal__button-close:hover {
  color: #202226;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:focus {
  color: #202226;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-icon {
  fill: #000000;
}

.modal__button-icon:hover {
  fill: currentColor;
}

.modal__button-icon:focus {
  fill: currentColor;
}

.clients-form__form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #161616;
}

.clients-form__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.clients-form__form-label {
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.clients-form__form-comment {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.clients-form__policy-link {
  color: #202226;
  margin-left: 0;
}

.clients-form__button-send {
  margin: 0 auto;
  min-width: 200px;
  color: #FFFFFF;
  background-color: #202226;
}

.clients-form__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.clients-form__form-field--comment {
  margin-bottom: 20px;
}

.clients-form__form-field input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 40px;
  cursor: pointer;
  outline: none;
}

.clients-form__form-field input:focus {
  border-color: #202226;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-form__form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.clients-form__form-field textarea:focus {
  border-color: #202226;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-form__form-field input:focus + .clients-form__form-icon {
  fill: #202226;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-form__policy-field {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.clients-form__policy-field input[type='checkbox'] {
  width: 16px;
  height: 15px;
}

.clients-form__policy-text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-left: 7px;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .clients-form__policy-text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.clients-form__policy-text::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 5px;
  display: block;
  border-radius: 2px;
}

.clients-form__policy-check:checked + .clients-form__policy-text::before {
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}
/*# sourceMappingURL=index.css.map */