<footer class="footer">

    <div class="container footer__container">
        <div class="footer__logo">
        <a href='./index.html' class="logo link">
            <svg width="24" height="24" class="logo__icon">
                <use href="./images/icons.svg#icon-Logo"></use>
            </svg>
            <span class="logo">automation</span>
        </a>
        </div>

    <div class="footer__content">

        <div class="footer__top">
       
                <address>
                    <ul class="list">
                        <li class="footer__contacts"><a href="https://goo.gl/maps/2VDzazgggWSSkdyt8" target="_blank"
                                rel="noopener noreferrer" class="footer__link footer__link--address link">Apple Fifth Avenue, 767 5th Ave, New York, NY 10153, USA</a></li>
                        <li class="footer__contacts"><a href="mailto:automation@gmail.com"
                                class="footer__link link">automation@gmail.com</a></li>
                        <li class="footer__contacts"><a href="tel:+380961111111" class="footer__link link">+38 096 111 11 11</a>
                        </li>
                    </ul>
                </address>
        
            <div class="footer__join">
                <ul class="social list">
                    <li class="social__item">
                        <a href="" class="social__link social__link--bcg">
                            <svg class="social__icon social__icon--white" width="20" height="20">
                                <use href="./images/icons.svg#icon-Instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link social__link--bcg">
                            <svg class="social__icon social__icon--white" width="20" height="20">
                                <use href="./images/icons.svg#icon-YouTube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link social__link--bcg">
                            <svg class="social__icon social__icon--white" width="20" height="20">
                                <use href="./images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="" class="social__link social__link--bcg">
                            <svg class="social__icon social__icon--white" width="20" height="20">
                                <use href="./images/icons.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer__join-title">Follow us on social media</p>
            </div>
        
        </div>
        
        <div class="footer__info">
            <h3 class="footer__info-title">Information</h3>
            <ul class="footer__list list">
                <li class="footer__item"><a href="" class="footer__item-link link">Shipping and payment</a></li>
                <li class="footer__item"><a href="" class="footer__item-link link">Guarantee</a></li>
                <li class="footer__item"><a href="" class="footer__item-link link">Manufacturers</a></li>
                <li class="footer__item"><a href="./products.html" class="footer__item-link link">Products</a></li>
                <li class="footer__item"><a href="" class="footer__item-link link">About us</a></li>
                <li class="footer__item"><a href="" class="footer__item-link link">Contacts</a></li>
            </ul>
        </div>

        </div>

        <p class="footer__rights">Online store "Automation" © 2023</p>
        <!-- <div class="subscription--left">
            <h3 class="footer__join-title">Подпишитесь на рассылку</h3>
        
            <input type="email" name="mail" placeholder="E-mail" class="subscription__mail">
        </div>
        <div class="subscription--right">
            <button type="submit" class="subscription__button button">Подписаться
                <svg class="subscription__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-send"></use>
                </svg>
            </button>
        </div> -->

    </div>
    
</footer>