<section class="section">
    <div class="container">

        <h1 class="section__title guarantee">Guarantee</h1>
        <h2 class="guarantee__title">Conditions and period under which the warranty service of the goods is carried out</h2>
        <p class="guarantee__text delivery">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vero impedit, quaerat quam aut explicabo, debitis facere nemo ipsum incidunt ut tempora dolore. Fugiat assumenda tenetur illo ea vel veniam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem impedit magni doloribus iure quod neque recusandae nesciunt minus tempore corporis, earum dolorem sequi, sapiente vero, tenetur dicta quia temporibus enim.</p>

        <h2 class="guarantee__title after-title">Return of products is possible in the following cases:</h2>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <h2 class="guarantee__title after-title">Product complaint:</h2>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="guarantee__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</section>