<header class="header">

  <div class="container header__container">
  
  
      <nav class="header__navigation">

      <div class="header__top">

        <a href='./index.html' class="logo link">
          <svg width="24" height="24" class="logo__icon">
            <use href="./images/icons.svg#icon-Logo"></use>
          </svg>
          <span class="logo">automation</span>
        </a>


        <div class="site-auth">
          <ul class="site-auth__list list">
            <li class="site-auth__item">
              <a href="mailto:automation@gmail.com" class="site-auth__link link">automation@gmail.com</a>
            </li>
            <li class="site-auth__item">
              <a href="tel:+380961111111" class="site-auth__link link">+38 096 111 11 11</a>
            </li>
          </ul>
        </div>

        <div class="header-info">
          <ul class="header-info__list list">
            <li class="header-info__item">
              <a href="" class="header-info__link link">Shipping and payment</a>
            </li>
            <li class="header-info__item">
              <a href="" class="header-info__link link">Guarantee</a>
            </li>
          </ul>
        </div>
      </div>


      <div class="header__bottom--mobile">
        <div class="site-nav--mobile">
          <div class="site-nav__left--mobile">
            <button type="button" class="site-nav__left--mobile--button mobile-button">
              <svg width="24" height="24">
                <use class="mobile-button__icon-menu" href="./images/icons.svg#icon-Search"></use>
              </svg>
            </button>
            <button type="button" class="site-nav__left--mobile--button mobile-button">
              <svg width="24" height="24">
                <use class="mobile-button__icon-menu" href="./images/icons.svg#icon-Cart"></use>
              </svg>
            </button>
          </div>
          <div class="site-nav__right--mobile">
            <button type="button" class="mobile-button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
              <svg width="24" height="24" aria-label="switch mobile menu">
                <use class="mobile-button__icon-menu" href="./images/icons.svg#icon-Burger"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="header__bottom">

        <div class="site-nav">
          <div class="site-nav__left">
            <ul class="site-nav__list list">
              <li class="site-nav__item"><button type="button" class="site-nav__button button">Products</button></li>
              <li class="site-nav__item"><button type="button" class="site-nav__button button">Manufacturers</button></li>
              <li class="site-nav__item"><button type="button" class="site-nav__button button">About us</button></li>
              <li class="site-nav__item"><button type="button" class="site-nav__button button">Contacts</button></li>
            </ul>
          </div>
          <div class="site-nav__right">
            <ul class="site-nav__list list">
              <li class="site-nav__item">
                <button type="button" class="site-nav__left--mobile--button mobile-button">
                <svg width="24" height="24">
                  <use class="mobile-button__icon-menu" href="./images/icons.svg#icon-Search"></use>
                </svg>
              </button>
            </li>
            <li class="site-nav__item">
              <button type="button" class="site-nav__left--mobile--button mobile-button">
                <svg width="24" height="24">
                  <use class="mobile-button__icon-menu" href="./images/icons.svg#icon-Cart"></use>
                </svg>
              </button>
            </li>
            <li class="site-nav__item">
              <button type="button" class="site-nav__button site-nav__button--black button">Quick Offer</button>
            </li>
            </ul>
 
          </div>
      </div>
    </div>
  </nav>
</div>
</div>


<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mobile-menu-top">
      <div class="logo__container">
      <a href='./index.html' class="logo link">
        <svg width="24" height="24" class="logo__icon">
          <use href="./images/icons.svg#icon-Logo"></use>
        </svg>
        <span class="logo">automation</span>
      </a>
      <button class="mobile-button-close mobile-button js-close-menu">
        <svg width="24" height="24" aria-label="switch close menu">
          <use class="mobile-button__icon-cross" href="./images/icons.svg#icon-Close"></use>
        </svg>
      </button>
      </div>
      <nav class="header__navigation--mobile">

        <ul class="site-nav-mobile list">
          <li class="site-nav-mobile__item"><a href="./index.html" class="site-nav-mobile__link link">Products</a></li>
          <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">Manufacturers</a></li>
          <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">About us</a></li>
          <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">Contacts</a></li>
          <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">Shipping and payment</a></li>
          <li class="site-nav-mobile__item"><a href="" class="site-nav-mobile__link link">Guarantee</a></li>
        </ul>
      </nav>
    </div>
    <div class="mobile-menu-bottom">
        <button type="button" class="mobile-menu-button button">Quick Offer</button>
    </div>
  </div>
</div>


</header>





