<section class="section products__section">

<div class="container products__container">

    <h2 class="products__title">All products</h2>

    <div class="products">

    <div class="products__left">
        <ul class="filters list">
            <li class="filters__item"><button type="button" class="filters__button">All</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Siemens</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Omron</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Allen Bradley</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Yaskawa</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Bosch Rexroth</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Mitsubishi</button></li>
            <li class="filters__item"><button type="button" class="filters__button">Schneider</button></li>
        </ul>
    </div>

    <div class="products__right">
        <ul class="gallery list">
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                    <div class="gallery__overlay">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                    <div class="gallery__overlay">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>
            <li class="gallery__item">
                <div class="gallery__img">
                    <img src="./images/siemens-gallery.png" alt="Siemens" width="450" class="products__img">
                </div>
                <div class="gallery__description">
                    <h3 class="gallery__title">6ES7193-6BP00-0DA0</h3>
                    <p class="gallery__text">Siemens</p>
                    <p class="gallery__price">105,75 zł</p>
                    <button type="button" class="gallery__button button">Add to cart</button>
                </div>
            </li>

        </ul>

    </div>
</div>

</div>

</section>