<section class="section">

    <div class="container">
        <h2 class="section__title">Qualitatively refurbished, unavailable and new industrial automation parts. Parts and machinery service.</h2>
        <p class="services__text">We deliver goods that are considered unavailable on the market.</p>
        <ul class="services__list list">
            <li class="services__item">
                <h3 class="services__title">Siemens</h3>
            </li>
            <li class="services__item">
                <h3 class="services__title">Omron</h3>
            </li>
            <li class="services__item">
                <h3 class="services__title">Allen Bradley</h3>
            </li>
            <li class="services__item">
                <h3 class="services__title">Mitsubishi</h3>
            </li>
            <li class="services__item">
                <h3 class="services__title">Bosch Rexroth</h3>
            </li>
            <li class="services__item">
                <h3 class="services__title">Schneider</h3>
            </li>
        </ul>
    </div>

</section>