<section class="section">

    <div class="container">
        <h2 class="section__title">Qualitatively refurbished, unavailable and new industrial automation parts. Parts and machinery service.</h2>
        <p class="services__text">We deliver goods that are considered unavailable on the market.</p>
        <ul class="services__list list">
            <li class="services__item">
                <h3 class="services__title">Siemens</h3>
                <img src="./images/siemens.png" alt="Siemens" class="services__img">
            </li>
            <li class="services__item">
                <h3 class="services__title">Omron</h3>
                <img src="./images/omron.png" alt="Omron" class="services__img">
            </li>
            <li class="services__item">
                <h3 class="services__title">Allen Bradley</h3>
                <img src="./images/allen_bradley.png" alt="Allen Bradley" class="services__img">
            </li>
            <li class="services__item">
                <h3 class="services__title">Mitsubishi</h3>
                <img src="./images/mitsubishi.png" alt="Mitsubishi" class="services__img">
            </li>
            <li class="services__item">
                <h3 class="services__title">Bosch Rexroth</h3>
                <img src="./images/bosch.png" alt="Bosch Rexroth" class="services__img">
            </li>
            <li class="services__item">
                <h3 class="services__title">Schneider</h3>
                <img src="./images/schneider.png" alt="Schneider" class="services__img">
            </li>
        </ul>
    </div>

</section>