<section class="section">
     <div class="container">

        <h1 class="section__title shipping">Shipping and payment</h1>
        <h2 class="shipping__title">Delivery</h2>
        <p class="shipping__text after-title">The following shipping methods are available:</p>
        <p class="shipping__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="shipping__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="shipping__text delivery">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

        <h2 class="shipping__title">Payment</h2>
        <p class="shipping__text after-title">Payment is possible in the following ways:</p>
        <p class="shipping__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="shipping__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
        <p class="shipping__text">- Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>

    </div>
</section>