<section class="section">
    <div class="why__container container">
        <div class="why__top">
        <h2 class="why__title section__title">Why us?</h2>
            <p class="why__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur accusamus minima quidem, doloribus eum assumenda perferendis aut rem fuga corrupti obcaecati praesentium eligendi ab error fugiat nisi vel inventore earum?</p>
            <p class="why__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident dolores nesciunt sed atque praesentium.</p>
        </div>
        <div>
        <ul class="why__list list">
            <li class="why__item">Advantages</li>
            <li class="why__item">Advantages</li>
            <li class="why__item">Advantages</li>
            <li class="why__item">Advantages</li>
            <li class="why__item">Advantages</li>
            <li class="why__item">Advantages</li>
        </ul>
        </div>
    </div>
</section>